[submodule "pipeline/software/maya/scripts/dwpicker_git"]
	path = src/dcc/maya/third_party/dwpicker_git
	url = https://github.com/DreamWall-Animation/dwpicker.git
[submodule "pipeline/software/maya/scripts/studiolibrary"]
	path = src/dcc/maya/third_party/studiolibrary
	url = https://github.com/krathjen/studiolibrary.git
[submodule "pipeline/software/maya/scripts/modelChecker_git"]
	path = src/dcc/maya/third_party/modelChecker_git
	url = https://github.com/JakobJK/modelChecker.git
[submodule "pipeline/software/maya/scripts/maya-timeline-marker_git"]
	path = src/dcc/maya/third_party/maya-timeline-marker_git
	url = https://github.com/scottdmilner/maya-timeline-marker.git
[submodule "pipeline/software/maya/scripts/maya-capture"]
	path = src/dcc/maya/third_party/mayacapture
	url = https://github.com/abstractfactory/maya-capture.git
[submodule "pipeline/software/maya/scripts/aperture_git"]
	path = src/dcc/maya/third_party/aperture_git
	url = https://github.com/michaelharmonart/aperture.git
	branch = main
[submodule "pipeline/lib/y-rig"]
	path = src/dcc/maya/third_party/y-rig
	url = https://github.com/michaelharmonart/y-rig.git
